<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Favoris</li>
	{% for email in liste_favoris %}
		<li>
			<a href="{{ path('rm_email_single', {'id': email.id} ) }}" >{{ email.object }}</a>
		</li>
	{% endfor %}
</ul>

