<h4>Email favoris</h4>

<ul class="nav nav-pills nav-stacked">
    {% for email in liste_favoris %}
		<li>
			<a href="{{ path('rm_email_single', {'id': email.id} ) }}" >{{ email.object }}</a>
		</li>
	{% endfor %}
</ul>

