{% extends "::base.html.twig" %}

{% block title %} Les catégorie - {{ parent() }} {% endblock %}

{% block body %}
	<h2>Les catégories</h2>
	<hr>

	<ul class="nav nav-pills nav-stacked">
		{% for categorie in categories  %}
			<li>
				<a href="{{ path('rm_email_single', { 'id' : categorie.id } ) }}" title="">{{ categorie.title }}</a>
			</li>
		{% else %}
			<li>Il n'y a pas de categorie pour le moment</li>
		{% endfor %}
	</ul>

{% endblock %}
